html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

















.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}




/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
      .header-container {
          padding-top: 164px;
      }
  }

    /* pad the top a bit when navbar is collapsed on mobile */
@media (min-width: 576px) {
    .header-container {
        padding-top: 167px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

  /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 576px) {
    .header-container {
        padding-top: 95px;
    }

    body {
        height: calc(100vh - 116px);
    }
}