<menu>
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-sm-none" href="{% url 'home' %}" id="home">
        <div class="text-center">
            <div><i class="fas fa-home fa-lg"></i></div>
            <p class="my-0 mobile-nav">Home</p>
        </div>
    </a>
</li>
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-sm-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0 mobile-nav">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown dropleft">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-sm-none " href="#" id="current-cart-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            <p class="my-0 mobile-nav">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
    <div class="dropdown-menu " style="width:200px;" aria-labelledby="current-cart-mobile">
        {% if grand_total and not on_profile_page %}
          <p class="logo-font bg-white text-black py-1">Your Cart ({{ product_count }})</p>
          <div class="cart-notification-wrapper">
              {% for item in cart_items %}
                  <div class="row">
                      <div class="col-3 my-1">
                          {% if item.product.image %}
                          <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                          {% else %}
                          <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                          {% endif %}
                      </div>
                      <div class="col-9">
                          <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                          <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <div class="row">
              <div class="col">
                  <strong><p class="mt-3 mb-1 text-black">
                      Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                      <span class="float-right">${{ total|floatformat:2 }}</span>
                  </p></strong>
                  {% if free_delivery_delta > 0 %}
                      <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                          Spend <strong>${{ free_delivery_delta }}</strong> more to get free next day delivery!
                      </p>
                  {% endif %}
                  <a href="{% url 'view_cart' %}" class="btn btn-black btn-block rounded-0">
                      <span class="text-uppercase">Go To Secure Checkout</span>
                      <span class="icon">
                          <i class="fas fa-lock"></i>
                      </span>
                  </a>
              </div>
          </div>
        {% endif %}
      </div>
</li>
</menu>