{% load static %}


<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
    {% endblock %}

    {% block extra_meta %}
        <meta name="author" content="Oscar Eriksson">
        <meta name="description"
            content="Get your next Air-conditioner or Air-Purifier from us. We offer top of the market products to affordable prices!
            Order today and get your new AC or Purifier installed.">
        <meta name="keywords"
            content="GlacialAC Glacial Ac Air-conditioner Air-Purifier split-system multi-split-system portable AC-service 
            ecommerce webshop webstore shipping order facebook-group email cool air heating cooling moisturizing Midea Toshiba Tesla Vivax Xiaomi .">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Glacial AC {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <wrapper class="d-flex flex-column">
    <header class="container-fluid">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-sm-flex">
          <div class="col-12 col-sm-4 col-md-4 my-auto py-1 py-lg-0 text-center text-md-left">
              <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <img class="site-logo" src="{{ MEDIA_URL }}glacial_ac.png" alt="Glaical AC logo">
              </a>
          </div>
          <div class="col-12 col-sm-4 col-md-2 my-auto py-1 py-lg-0 text-center text-lg-left">
              <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
              </form>
          </div>
            <div class="col-12 col-sm-4 my-auto py-1 py-lg-0 text-center text-lg-right offset-lg-2">
                <div class="list-inline-item dropdown dropleft">
                    {% include 'includes/cart_dropdown.html' %}
                </div>
            </div>
        </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-sm navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
        </div>            
    </div>
    </header>
    <main class="flex-fill">
    {% if messages %}
      <div class="message-container d-flex justify-content-end">
        {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>
    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}
    <footer class="bg-dark text-center text-lg-start text-white mt-auto">
    <!-- Contact -->
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-lg-5">Contact us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:glacialac.sweden@gmail.com" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Email</a>
            </li>
            <li>
              <a href="https://www.facebook.com/glacialacsweden" rel="nofollow" target="_blank" class="text-white"><i class="fa fa-facebook-square fa-fw fa-sm me-2"></i>On Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
            </li>
          </ul>
        </div>
        <!-- Mailchimp Newsletter signup -->
        <div class="col-lg-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-lg-left">Signup to our newsletter!<span><i class="fas fa-envelope fa-fw fa-sm me-2"></i></span></h5>
          <div id="mc_embed_shell">
            <div id="mc_embed_signup">
              <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=47328818d095f03fe9206039c&amp;id=a77eda8300&amp;f_id=00e42fe7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="required email w-50" id="mce-EMAIL" required="" value="">
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text w-50"></span>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                    <input type="text" name="b_47328818d095f03fe9206039c_a77eda8300" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button bg-white text-black" value="Subscribe">
                      <p style="margin: 0px auto;"><a href="http://eepurl.com/iw-Z76" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://github.com/Oile995/Project5" target="_blank" rel="nofollow">Oscar Eriksson</a>
      </div>
      <!-- Copyright -->
    </footer>
    </wrapper>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
  </body>
</html>