{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="image-container mx-auto mt-5 mb-2">
                    {% if product.image %}
                        <a class="h-50" href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid max-width: 75%; height: 50%;" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a class="h-50">
                            <img class="card-img-top img-fluid max-width: 75%; height: 50%;" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <h2 class="text-center ">{{ product.name }}</h2>
                <h5 class="font-weight-bold"> Price: {{product.price}}$ </h5>
                <h6 class="font-weight-bold"> Stock: {{product.stock}} </h6>
                <!-- Star Rating Code taken from https://github.com/dev-rathankumar/greatkart-pre-deploy/blob/main/templates/store/product_detail.html -->
                <div>
                    {% include 'products/includes/stars_avrage.html' %}
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-2"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon"> 
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity"
                                            value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon"> 
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
                <div>
                    <!-- If super User Delete product or edit -->
                    {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#ModalCenter">
                            Delete
                        </button>
                        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete {{product.name}}?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                <a  class="text-dark btt-link" data-dismiss="modal">No, get me back!</a>
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Yes I am sure, Delete!</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <a type="button" class="btn btn-primary text-white" href="{% url 'edit_product' product.id %}">Edit</a>
                    {% endif %}
                    <!-- If authenticated, option to add or remove from user wishlist -->
                    {% if user.is_authenticated %}
                        {% if on_wishlist %}
                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-light btn-outline-black " role="button" aria-disabled="true">Remove from Wish List</a>
                        {% else %}
                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-light btn-outline-black" role="button" aria-disabled="true">Add to Wish List</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-3 my-sm-3">
                <div class="description-container">
                    <div> <span class="font-weight-bold"></span></div>
                    <p class="description-text">
                        {{product.description | safe}}
                    </p>
                </div>
                <div class="my-3">
                    <row class="icon-container">
                        {% for icon in icons %}
                        <div class="col-3">
                            <img class="icon-hover product-icon" src="{{ icon.image.url }}" data-toggle="tooltip" title="{{ icon.hover_text }}">
                        </div>
                        {% endfor %}
                    </row>
    
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="specification-container">
                    <div> <span class="font-weight-bold">Specifications:</span></div>
                    {{product.specification | safe}}                 
                </div>
            </div>
        </div>

        <div class="row similar-products">
            <div class="col-12 col-lg-6">
                <h4>Other products in the same category:</h4>
                <div class="row">
                    {% for product in related_products %}
                        <div class="card-deck col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                    <a class="h-50" href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="https://www.netonnet.se/GetFile/ProductImagePrimary/hem-fritid/klimat-varme/luftkonditionering/andersson-x-arc-1-5(X1020673)_494266_2_Normal_Large.webp" alt="Placeholder image">
                                    </a>
                                {% endif %}
                                <div class="card-body h-50">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <h6 class="card-title font-weight-bold">{{product.price}}$</h6>
                                    <p class="card-text">{{product.subcategory}}</p>
                                </div>
                                <div class="card-footer">
                                    {% if product.rating %}
                                        <small class="text-muted">Rating:  {% include 'products/includes/stars_avrage.html' %}</small>
                                    {% else %}
                                        <small class="text-muted">Not rated yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <form action="{% url 'submit_review' product.id %}" method="POST">
					{% csrf_token %}
					<h5>Write Your own Review here!</h5>
					<!-- Star Rating Code taken from https://github.com/dev-rathankumar/greatkart-pre-deploy/blob/main/templates/store/product_detail.html -->
					<div>
                        {% if user.is_authenticated %}
						<label>How do you rate this product?</label>
						<br>
						<div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
                        <br>
						Review:
                       
						    <textarea name="comment" rows="4" class="form-control"></textarea>
						    <br>
							<input type="submit" value="Submit" class="btn btn-primary">
						{% else %}
						    <p>You must be logged in to post a review. 
                                <span>
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                </span>
                            </p>
						{% endif %}
					</div>
				</form>
                <h3>Reviews:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for review in reviews %}
                    <div class="review" style="padding: 10px;">
                        <!-- Star Rating Code taken from https://github.com/dev-rathankumar/greatkart-pre-deploy/blob/main/templates/store/product_detail.html -->
                        <div>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="font-weight-bold">
                                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                {{ review.user }}
                                <span class=" text-muted font-weight-normal">
                                    <!-- The comment's created date goes here -->
                                    {{ review.created_on }}
                                </span> wrote:
                            </p>
                            <!-- The body of the comment goes before the | -->
                            {{ review.comment | linebreaks }}
                        </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    {% include 'products/includes/quantity_input_script.html' %}

{% endblock %}
